.pop {
    box-shadow: 5px 5px 5px teal;
}

.big {
    font-size: 1.8rem;
}

.fancy {
    font-family: "Italianno", cursive;
    font-size: 2.5em;
}

.negative {
    background-color: black;
    color: white;
}

.makeyourown{
    font-size: 2rem;
    background-color: gold;
    color: red;
    font-family: "Comic Sans MS", cursive;
}
